@page "/OrganizationGrid"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor;
@using Directory.Entities.Models;

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid TValue="@Organization" Toolbar="@(new List<string>() { "Add", "Edit", "Delete","Search" })" AllowPaging="true">
                <SfDataManager Url="https://localhost:44348/api/Organization" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                <GridTemplates>
                    <DetailTemplate>
                        @{
                            var organizations = (context as Organization);
                            <SfGrid TValue="Subdivision" Query="@GetOrganizationsQuery(organizations)" Toolbar="@(new List<string>() { "Add", "Edit", "Delete"})" AllowPaging="true">
                                <SfDataManager Url="https://localhost:44348/api/Subdivision" Adaptor="Adaptors.WebApiAdaptor"> </SfDataManager>
                                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                                <GridPageSettings PageSize="8"></GridPageSettings>
                                <GridTemplates>
                                    <DetailTemplate Context="EmployeeContext">
                                        @{
                                            var subdivisions = (EmployeeContext as Subdivision);
                                            <SfGrid TValue="Employee" Query="@GetSubdivisionQuery(subdivisions)" Toolbar="@(new List<string>() { "Add", "Edit", "Delete"})">
                                                <SfDataManager Url="https://localhost:44348/api/Employee" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
                                                <GridColumns>
                                                    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                                                    <GridColumn Visible="false" Field=@nameof(Employee.Id) HeaderText="ID" IsPrimaryKey="true" IsIdentity="true">
                                                    </GridColumn>
                                                    <GridColumn Field=@nameof(Employee.FirstName) HeaderText="Имя"></GridColumn>
                                                    <GridColumn Field=@nameof(Employee.LastName) HeaderText="Фамииля"></GridColumn>
                                                    <GridColumn Field=@nameof(Employee.Patronymic) HeaderText="Отчество"></GridColumn>

                                                    <GridColumn Field=@nameof(Employee.PositionWork) HeaderText="Должность"></GridColumn>
                                                    <GridColumn Field=@nameof(Employee.PhoneNumber) HeaderText="Номер телефона"></GridColumn>
                                                    <GridColumn Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>
                                                    <GridColumn Visible="false" Field=@nameof(Employee.OrganizationId) DefaultValue=organizations.Id HeaderText="OrganizationId"></GridColumn>
                                                    <GridColumn Visible="false" Field=@nameof(Employee.SubdivisionId) DefaultValue=subdivisions.Id HeaderText="SubdivisionId"></GridColumn>

                                                </GridColumns>
                                            </SfGrid>
                                        }
                                    </DetailTemplate>
                                </GridTemplates>
                                <GridColumns>
                                    <GridColumn  Visible="false" Field=@nameof(Subdivision.Id) HeaderText="ID" IsPrimaryKey="true" IsIdentity="true" ValidationRules="@(new ValidationRules{ Required=true, Number=true})" TextAlign="TextAlign.Left" Width="20"> </GridColumn>
                                    <GridColumn Field=@nameof(Subdivision.Name) HeaderText="Подразделение" Width="110"></GridColumn>
                                    <GridColumn Visible="false" Field=@nameof(Subdivision.OrganizationId) DefaultValue=organizations.Id HeaderText="Organization ID" IsPrimaryKey="true" IsIdentity="true" ValidationRules="@(new ValidationRules{ Required=true, Number=true})" TextAlign="TextAlign.Left" > </GridColumn>
                                </GridColumns>
                            </SfGrid>
                        }
                    </DetailTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn  Visible="false" Field=@nameof(Organization.Id) HeaderText="ID" IsPrimaryKey="true" IsIdentity="true" ValidationRules="@(new ValidationRules{ Required=true, Number=true})" TextAlign="TextAlign.Left" Width="20">
                    </GridColumn>
                    <GridColumn Field=@nameof(Organization.Name) HeaderText="Организация"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
